<div class="container--game-list mb-20">
  <h2 class="mb-20">Game Rooms</h2>
  <div class="content--list grid-small">
    <div class="grid-card disabled">
      <div class="grid-card-body">
        <a class="link-overlay link-disabled" routerLink="/game">
          <span>Create New Gameroom</span>
        </a>
      </div>
    </div>
    <app-room-list-item class="grid-card"></app-room-list-item>
    <app-room-list-item class="grid-card"></app-room-list-item>
    <app-room-list-item class="grid-card"></app-room-list-item>
    <app-room-list-item class="grid-card"></app-room-list-item>
    <app-room-list-item class="grid-card"></app-room-list-item>
    <app-room-list-item class="grid-card"></app-room-list-item>
    <app-room-list-item class="grid-card"></app-room-list-item>
  </div>
</div>
