<div class="container--game-list mb-20">
  <h2 class="section-header">
    <span class="text-left">Game Rooms</span>
    <span class="text text-right"><a class="text-link" routerLink="/profile">View Profile</a>&rarr;</span>
  </h2>
  <div class="content--list grid-small">
    <app-room-list-item class="grid-card d-flex" [type]="roomType.CreateRoom" (onClick)="onClick($event)"></app-room-list-item>
    <app-room-list-item class="grid-card d-flex" *ngFor="let gameRoom of gameRooms" [id]="gameRoom.id || ''" (onClick)="onClick($event)"></app-room-list-item>
  </div>
</div>
