.bc-primary {
  border-color: $color-primary!important;
}

.bc-secondary {
  border-color: $color-secondary!important;
}

.bc-tertiary {
  border-color: $color-tertiary!important;
}

.bc-quaternary {
  border-color: $color-quaternary!important;
}

.bc-supernova {
  border-color: $color-supernova!important;
}

.bc-green {
  border-color: $color-green!important;
}

.bc-orange {
  border-color: $color-orange!important;
}
