.btn-group {
  @extend .mtb-10;
}

.btn {
  padding: 7.5px 15px;
  font-weight: bolder;
  text-transform: uppercase;
  transition: all 0.25s;

  &:disabled {
    opacity: 0.75;

    &:hover {
      cursor: not-allowed;
    }
  }

  &:hover:not(:disabled) {
    cursor: pointer;
  }

  &.btn-primary {
    background-color: $color-primary;
    color: $color-secondary;
    border-color: $color-primary;

    &:hover:not(:disabled) {
      background-color: $color-secondary;
      color: $color-primary;
      border-color: $color-primary;
    }
  }

  &.btn-secondary {
    background-color: $color-tertiary;
    color: $color-quaternary;
    border-color: $color-tertiary;

    &:hover:not(:disabled) {
      background-color: $color-quaternary;
      color: $color-tertiary;
      border-color: $color-tertiary;
    }
  }

  &.btn-w2 {
    min-width: 50%;
  }

  &.btn-w3 {
    min-width: 33.33%;
  }

  // .btn-group & {
  //   min-width: 20%;
  // }
}
