$color-yellow: #ffd740;
$color-olive: #806402;
$color-supernova: #ffc600;
$color-toryblue: #125699;
$color-denim: #1976d2;
$color-lightgrey: #6d6d6d;
$color-darkgrey: #333333;
$color-white: #ffffff;
$color-studio: #8d46ac;
$color-fuschia-blue: #8d4dc3;
$color-medium-purple: #8a5aea;
$color-green: #08c008;
$color-orange: #ffa500;

$color-tomato: tomato;
$color-mediumseagreen: mediumseagreen;
$color-darkcyan: darkcyan;
$color-mediumorchid: mediumorchid;
$color-dodgerblue: dodgerblue;
$color-darkorange: darkorange;
$color-firebrick: firebrick;
$color-lightseagreen: lightseagreen;


$color-primary: $color-studio;
$color-secondary: $color-white;
$color-tertiary: $color-yellow;
$color-quaternary: $color-darkgrey;
