<div class="container--game p-20">
  <h2 class="section-header">
    <span [title]="gameRoomData?.isActive ? 'Active' : 'Inactive'">{{ gameRoomData?.isActive ? '🟢 ' : '🔴 '}}</span>
    <span>Game of {{ gameRoomData?.gameType }}</span>
    <span title="Share Code with friends to join">({{ gameRoomData?.publicRoomId }})</span>
    <span> - </span>
    <span class="text-secondary">{{ gameRoomData?.playing?.length }}</span>
    <span> Playing, whilst </span>
    <span class="text-secondary">{{ gameRoomData?.eliminated?.length }}</span>
    <span> Died 💀 </span>
  </h2>
  <h4 class="section-subheader">Round: #{{ gameRoomData?.roundCount }}</h4>
  <div class="form-group">
    <div class="text mtb-10">
      &larr;<a class="text-link" routerLink="/dashboard">Go Back to Dashboard</a>
    </div>
    <div class="game-view d-flex f-jc-spacebetween f-ai-fstart">
      <div class="game-board grid grid-large f-1">
        <div class="grid-card d-flex" *ngFor="let player of gameRoomData?.playing" [ngClass]="{'f-1': gameRoomData?.winnerId === player.id}">
          <div class="grid-card-body text-center">
            <img class="grid-card-img" [src]="player.avatar" [alt]="player.username">
            <h3 class="grid-card-header">{{ player.username }}</h3>
            <h4 class="text text-secondary" *ngIf="gameRoomData?.winnerId">Chair #{{ gameRoomData?.metadata?.winnerChairIdx + 1 }}</h4>
          </div>
        </div>
      </div>
      <div class="game-eliminated-users w-e16" [ngClass]="{'f-1': gameRoomData?.winnerId}">
        <h2 class="section-header text-center">Eliminated Players</h2>
        <ul>
          <li *ngFor="let player of gameRoomData?.eliminated">{{ player.username }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
