<div class="container--game p-20">
  <h2 class="mb-20">
    <span>{{ gameRoomData?.isActive ? '🟢 ' : '🔴 '}}</span>
    <span>Game of {{ gameRoomData?.gameType }}</span>
    <span title="Share Code with friends to join">({{ gameRoomData?.publicRoomId }})</span>
    <span> - </span>
    <span class="text-secondary">{{ gameRoomData?.playing?.length }}</span>
    <span> Playing, whilst </span>
    <span class="text-secondary">{{ gameRoomData?.eliminated?.length }}</span>
    <span> Died 💀 </span>
  </h2>
  <div class="form-group">
    <div class="text">
      &larr;<a class="text-link" routerLink="/dashboard">Go Back to Dashboard</a>
    </div>
    <div class="game-view"></div>
  </div>
</div>
