.app-sidebar {
  width: 16em;

  .sidebar-list {
    list-style: none;
    margin: 20px 10px;
    padding: 0;
  }

  .sidebar-list-item {
    border: 2.5px solid #8d46ac;

    &:not(:last-child) {
      border-bottom: 0;
    }
  }

  .sidebar-item-link {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;

    &.active {
      background-color: #8d46ac;
      color: #ffffff;
    }
  }
}

.text-username {
  background: aliceblue;
  padding: 20px;
}
