.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #icon-theme {
  height: 40px;
  margin: 0 8px;
}

.toolbar #icon-logout {
  height: 40px;
  margin: 0 16px;
}

.toolbar #icon-theme:hover,
.toolbar #icon-logout:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .navbar-section svg {
    margin: 0 4px!important;
  }
}

@media screen and (max-width: 375px) {
  .navbar-section #icon-theme {
    display: none;
  }
}
