@import '~normalize.css';

/* You can add global styles to this file, and also import other style files */
html, body {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none !important;

  &.secondary {
    color: #ffd740;
  }

  svg {
    fill: #ffd740;
  }
}

a:hover {
  color: #125699;
}

p {
  margin: 0;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.d-flex-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.f-1 {
  flex: 1;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.p-20 {
  padding: 20px;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-10 {
  padding-bottom: 10px;
}

.text-secondary {
  color: #333;
}
