.text-room-id {
  padding: 5px 0;
  background: aliceblue;
  box-shadow: inset 1px 1px 5px rgb(0 0 0 / 40%);
  border-radius: 2.5px;
  border: 1px solid;
  text-align: center;
}

.game-icon {
  max-width: 40%;
}

.game-icon img {
  width: 100%;
  border-radius: 5px;
}

.card-create {
  .card-header {
    transition: all 0.3s ease-in-out;
  }

  .card-header-icon {
    svg {
      width: 28px;
      height: 25px;
    }
  }
}
