<ng-container *ngIf="type === roomType.CreateRoom; else roomListItem">
  <div class="grid-card-body card-create">
    <a class="link-overlay" (click)="onRoomAction(action.CreateRoom)">
      <div class="card-header d-flex">
        <h3 class="card-header-title text-left f-1">Create New Gameroom</h3>
        <div class="card-header-icon">
          <svg viewbox="0 0 28 25">
            <path fill="#333" d="M13.145 2.13l1.94-1.867 12.178 12-12.178 12-1.94-1.867 8.931-8.8H.737V10.93h21.339z"/>
          </svg>
        </div>
      </div>
    </a>
  </div>
</ng-container>
<ng-template #roomListItem>
  <div class="grid-card-body d-flex-col f-jc-spacebetween">
    <div class="w-100 d-flex f-jc-spacebetween">
      <div class="d-flex-col f-ai-normal">
        <h2>{{ gameRoom.gameType }}</h2>
        <p class="text-room-id">{{ gameRoom.publicRoomId }}</p>
      </div>
      <div class="player-count">
        <h2 class="mlr-10">{{ gameRoom.playing?.length || 0 }}/{{ gameRoom.players?.length || 0 }}</h2>
      </div>
    </div>
    <div class="w-100 ptb-5 d-flex f-jc-spacebetween f-ai-normal">
      <div class="game-info">
        <h4>Game Stats:</h4>
        <div class="stats-container">
          <h5 class="plr-5">Round: #{{ (gameRoom.roundCount === 0) ? 'Not Started' : gameRoom.roundCount }}</h5>
          <h5 class="plr-5">Eliminated Players: {{ gameRoom.eliminated?.length }}</h5>
          <h5 class="plr-5">Active Players: {{ gameRoom.playing?.length }}</h5>
        </div>
      </div>
      <div class="game-icon">
        <img src="assets/images/game-mc.gif" alt="Game Icon">
      </div>
    </div>
    <div class="btn-group w-100 d-flex">
      <button class="btn btn-primary f-1" (click)="onRoomAction(action.JoinRoom)" [disabled]="!(gameRoom.isActive && commonService.isJoinGameOn)" title="Join Game">Join Game</button>
      <button class="btn btn-secondary f-1" (click)="onRoomAction(action.SpectateRoom)" [disabled]="!commonService.isSpectateGameOn" title="Spectate Game">View Game</button>
    </div>
  </div>
</ng-template>
