.grid {
  display: flex;
  flex-wrap: wrap;
	align-items: stretch;
	justify-content: left;

  .grid-card {
    box-shadow: inset 1px 1px 150px $color-darkgrey;

    &:nth-child(odd) { background-color: $color-tomato; }
    &:nth-child(even) { background-color: $color-mediumseagreen; }
    &:nth-child(3n) { background-color: $color-darkcyan; }
    &:nth-child(4n) { background-color: $color-mediumorchid; }
    &:nth-child(5n) { background-color: $color-dodgerblue; }
    &:nth-child(6n) { background-color: $color-darkorange; }
    &:nth-child(7n) { background-color: $color-firebrick; }
    &:nth-child(8n) { background-color: $color-lightseagreen; }

    &:hover:not(.disabled) {
      // cursor: pointer;
      box-shadow: inset 0 0 2.5px 4px $color-mediumseagreen,
        inset 0 0 2.5px 10px $color-mediumseagreen;
      // border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
    }

    &.disabled:hover {
      cursor: not-allowed;

      a {
        cursor: not-allowed;
      }
    }
  }

  .grid-card-body {
    box-sizing: border-box;
    background: $color-secondary;
    border-radius: 5px;
    // .grid-card & {
    //   background-image: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
    // }
  }

  .grid-card-img {
    max-width: 50%;
  }

  .link-overlay {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.grid-small {
  .grid-card {
    width: 25%;
    min-width: 200px;
    min-height: 200px;

    &:hover:not(.disabled) {
      box-shadow: inset 0 0 2.5px 6px $color-mediumseagreen,
        inset 0 0 2.5px 15px $color-mediumseagreen;
    }
  }

  .grid-card-body {
    padding: 5px;
    margin: 10px;
    height: calc(100% - 20px);
    width: 100%;
  }
}

.grid-large {
  .grid-card {
    width: 10%;
    min-width: 50px;
    min-height: 50px;
  }

  .grid-card-body {
    padding: 5px;
    margin: 5px;
    height: calc(100% - 10px);
    width: 100%;
  }
}

@media screen and (max-width: 1136px) {
  .grid-large {
    .grid-card {
      width: 20%;
    }

    .grid-card-header {
      font-size: medium;
      word-break: break-all;
    }
  }

  .grid-small {
    .grid-card {
      width: 33.33%;
    }
  }
}

@media screen and (max-width: 720px) {
  .grid-large {
    .grid-card {
      width: 25%;
    }

    .grid-card-header {
      font-size: smaller;
    }
  }

  .grid-small {
    .grid-card {
      width: 50%;
    }
  }
}

@media screen and (max-width: 480px) {
  .grid-large {
    .grid-card {
      width: 33.33%;
    }

    .grid-card-header {
      font-size: small;
    }
  }

  .grid-small {
    .grid-card {
      width: 100%;
    }
  }
}
