.m-auto {
  margin: 0 auto;
}

.mtb-60 {
  margin: 60px 0;
}

.mtb-10 {
  margin: 10px 0;
}

.mtb-20 {
  margin: 20px 0;
}

.mlr-10 {
  margin: 0 10px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-e01 {
  margin-top: 0.1em;
}
