<div class="wrapper--register d-flex-col">
  <div class="img-wrapper p-20 pb-10">
    <img class="img--logo w-50" src="assets/images/logo-sm.png" alt="App Logo">
  </div>
  <div class="form-wrapper w-100 p-20 pt-0">
    <form action="" class="text-secondary" [formGroup]="formRegister" (ngSubmit)="onRegister()">
      <h2 class="mb-20">Let's Create an Account!</h2>
      <div class="form-group">
        <label for="" class="email">Email Address</label>
        <input type="email" name="emailId" id="emailId" formControlName="email" placeholder="abhi@gmail.com"
          autocomplete="email">
        <p class="info"></p>
      </div>
      <div class="form-group">
        <label for="" class="password">Password</label>
        <input type="password" name="password" id="password" formControlName="pass" placeholder="Password00*"
          autocomplete="off">
        <p class="info"></p>
      </div>
      <div class="form-group">
        <div class="text">
          <span>Already have an account!</span>
          <a class="text-link" routerLink="/" [queryParams]="qpLoginParams">Sign In</a>
        </div>
      </div>
      <div class="btn-group">
        <button type="submit" class="btn btn-primary btn-w2" [disabled]="!formRegister.valid">Next</button>
      </div>
    </form>
  </div>
</div>